tmp/*
node_modules/
node_modules/*
\#*
package-lock.json
Gemfile.lock
package-lock.json
planning.txt
planning.md
talk_outline.md
minitar.txt
archives/*.tar
!archives/.gitkeep
data/eliminator.rb
data/*.json
data/answers/*
data/starters/*
!data/answers/.gitkeep
!data/starters/.gitkeep
less
history